<br><br><br><br><br><h1 style="text-align:center">Congrats to our user <%= User.most_active_user.name %> who has created the most reviews for hikes at a whopping <%= User.most_active_user.reviews.count %> reviews!</h1>
