<br><br><br>
<div style="text-align:center">

<br><br><h1 class="title_text">Hello <%= current_user.name %>!</h1>

<h1 class="find_dream_hike">Find your dream hike:</h1>

</div>
<div style="text-align:center">
<h3 class="search_hikes_explanation">Search hikes located in the cities we work with (or don't select city to see all of our hikes): </h4>
<%= form_tag(hikes_path, method: "get") do %>
<select name=hike[:location]>
<option value="None">-Select-</option>
<option value="Seattle">Seattle</option>
<option value="Eugene">Eugene</option>
<option value="Tempe">Tempe</option>
<option value="San Francisco">San Francisco</option> 
<option value="Albuquerque">Albuquerque</option>
<option value="Boston">Boston</option>
<option value="Denver">Denver</option>
<option value="Chicago">Chicago</option>
<option value="Las Vegas">Las Vegas</option>
<option value="Miami">Miami</option>
<option value="Minneapolis">Minneapolis</option>
<option value="Salt Lake City">Salt Lake City</option>
</select><br><br>
<br><br><br><br><%= button_tag(type: "submit", class: "button", style: "vertical-align:middle") do %>
<span class="span">Find Hikes</span>
<% end %>
<% end %>




<br><br><br><br><br><h2 style="text-align:center" ><%= link_to "See our user with the most created reviews!", most_active_path, class: "most_active_user_button" %></h2>




