<br><br>
<div style="text-align:center">

<h1>Hello <%= current_user.name %>!</h1>

<h2>Find your dream hike:</h2><br><br>

</div>
<div style="text-align:center">
<h4>Search hikes located in the cities we work with (or don't select city to see all of our hikes): </h4>
<%= form_tag(hikes_path, method: "get") do %>
<select name=hike[:location]>
<option value="None">-Select-</option>
<option value="Seattle">Seattle</option>
<option value="Eugene">Eugene</option>
<option value="Tempe">Tempe</option>
<option value="San Francisco">San Francisco</option> 
<option value="Albuquerque">Albuquerque</option>
<option value="Boston">Boston</option>
<option value="Denver">Denver</option>
<option value="Chicago">Chicago</option>
<option value="Las Vegas">Las Vegas</option>
<option value="Miami">Miami</option>
<option value="Minneapolis">Minneapolis</option>
<option value="Salt Lake City">Salt Lake City</option>
</select><br><br>
<%= submit_tag "Find Hikes" %>
<% end %>


<h5>and/or</h5>
<h4>Search hikes by difficulty level: [have dropdown select box of easy, moderate, or difficult here]</h4>
</div>





