<br><br>
<div style="text-align:center">

<h1>Hello <%= current_user.username %>!</h1>

<h2>Find your dream hike!:</h2><br><br>

</div>
<div style="text-align:center">
<h4>Search hikes located in the cities we work with: [have dropdown select box of like 50 cities here]</h4>
<h5>and/or</h5>
<h4>Search hikes by difficulty level: [have dropdown select box of easy, moderate, or difficult here]</h4>
</div>