body {
    margin: 0;
  }
  
  .content {
    margin: 10px auto;
    width: 70%;
  }
  
  .clearfix {
    overflow: hidden;
  }

  .field_with_errors { 
      padding: 2px; 
      background-color: red; 
      display: table;

  }
  