header {
    background: grey;
    padding: 10px;
    ul {
      margin: 0;
      margin-right: 15px;
      padding: 0;
      float: left;
      list-style-type: none;
    }
    a {
      text-decoration: none;
      font-family: Helvetica;
      font-weight: lighter;

      color: white;
    }
  }
  
  .left-nav {
    float: left;
  }
  
  .right-nav {
    float: right;
  }