// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.button_for_reviews {
  background-color: #a37053;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button_for_reviews:hover {
  background-color: #906349;
  margin-top: 6px;
}

.newReviewReviewsPage {
  background-color: rgb(52, 117, 228);
  border: none;
  color: white;
  border-radius: 5.5px;
  padding: 3.5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.newReviewReviewsPage:hover {
  background-color: rgb(7, 91, 187);
}

.backButton {
  float: left;
  margin-left: -18%;
}

.createReviewButton {
  float: right;
  margin-right: 24%;
  margin-top: -5%;
}

.notice {
  color: white;
  background: #9b9b9b;
  font-size: 19px;
  padding: 6px 11.5px;
  border-radius: 5px;
}

.textBackground {
  color: #9b9b9b;
  width: max-content;
}
