<% if @review.errors.any? %> 
<div id="error_explanation">
<h4><%= pluralize(@review.errors.count, "error") %> prohibited a new review from being edited: </h4>

<ul>
<% @review.errors.full_messages.each do |message| %>
<li><%= message %></li>
<% end %>
</ul>
</div>
<% end %>
